* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-frame{
    margin: auto;
    width: 50%; 
    padding: 10px;
}

/* Game Display */
.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    overflow: hidden;
}

/* Game Background */
.sky {
    background-image: url("/assets/images/background.png");
    background-color: #4dc1cb;
    background-position: 0 160px;
    background-repeat:repeat-x;
     width: 500px;
     height: 580px;
     position: absolute;
     z-index: -1;
}

.ground {
    background-color: #dfd996;
    background-image: url("/assets/images/base.png");
    background-repeat: repeat-x;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 2;
}



/* Game Elements */
.bird {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 43px;
    height: 30px; 
    z-index: 3;
}

/* Bird flying states */
.bird-downflap {
    background-image: url("/assets/images/yellowbird-downflap.png");
}

.bird-midflap {
    background-image: url("/assets/images/yellowbird-midflap.png");
}

.bird-upflap {
    background-image: url("/assets/images/yellowbird-upflap.png");
}


.pipe {
    background-image: url("/assets/images/pipe.png");
    position: absolute;
    width: 60px;
    height: 300px;
    z-index: 1;
}

.topPipe {
    background-image: url("/assets/images/pipe.png");
    position: absolute;
    width: 60px;
    height: 300px;
    transform: rotate(180deg) scaleX(-1);
    z-index: 1;
}

.topPipe::after {
    content: '';
    position: absolute;
    top: 100%; /* Position directly below the main element */
    left: 0;
    width: 100%;
    height: 100px; /* Adjust this for how much extension you need */
    background-image: inherit; /* Use the same image */
    background-repeat: no-repeat;
    transform: scaleY(-1); /* Flip the image vertically */
}